.home-brand {
  font-size: 14vw;
  color: #746f6f;
  font-family: AbrahamItalic, normal;
  line-height: 0.8em;
  position: absolute;
  top: 130px;
  transition: font-size 0.3s ease;


  :nth-child(2) {
    font-family: AbrahamOutlineItalic, normal;
    display: block;
    transition: font-size 0.3s ease;


  }

}