.blob {
    padding: 30px;
    justify-self: anchor-center;
    background-size: cover;
    background-position: center;
    animation: morph 12.5s linear infinite alternate, rotate 15s linear infinite;


    @keyframes morph {
        0% {
            border-radius: 60% 45% 45% 70% / 60% 45% 45% 70%;
        }

        50% {
            border-radius: 40% 70% 60% 45% / 40% 70% 60% 45%;
        }

        100% {
            border-radius: 60% 45% 45% 70% / 60% 45% 45% 70%;
        }

    }


    &.blob-color {
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    &.blob-image {
        animation: morph 12.5s linear infinite alternate;

    }



}