.blob {
    padding: 30px;
    justify-self: anchor-center;
    background-size: cover;
    background-position: center;
    animation: morph 12.5s linear infinite alternate, rotate 15s linear infinite;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition-timing-function: ease-in;





    @keyframes morph {
        0% {
            border-radius: 60% 45% 45% 70% / 60% 45% 45% 70%;
        }

        50% {
            border-radius: 40% 70% 60% 45% / 40% 70% 60% 45%;
        }

        100% {
            border-radius: 60% 45% 45% 70% / 60% 45% 45% 70%;
        }


        50% {
            --g3-1-x-position: 42.69531250000001%;
            --g3-1-y-position: 91.5625%;
            --g3-2-x-position: 91.7578125%;
            --g3-2-y-position: 33.046875%;
            --g3-3-x-position: 5.742187500000001%;
            --g3-3-y-position: 5.546875000000001%;
        }

    }


    &.blob-color {

        background: radial-gradient(100% 100% at var(--g3-3-x-position) var(--g3-3-y-position), #d77423 -80%, transparent), radial-gradient(100% 100% at var(--g3-1-x-position) var(--g3-1-y-position), #7556f0 -71%, transparent), radial-gradient(100% 100% at var(--g3-2-x-position) var(--g3-2-y-position), #987af1 -52%, transparent), #21213b;
        animation-name: g-3;
        animation: morph 12.5s linear infinite alternate, rotate 15s linear infinite;



        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    &.blob-image {
        animation: morph 12.5s linear infinite alternate;

    }



}

@property --g3-1-x-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 16.09375%;
}

@property --g3-1-y-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 33.12500000000001%;
}

@property --g3-2-x-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 48.55468750000001%;
}

@property --g3-2-y-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 9.648437500000002%;
}

@property --g3-3-x-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 78.6328125%;
}

@property --g3-3-y-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 79.8046875%;
}