.nav-header {
  padding: 16px 24px;
  display: grid;
  height: auto;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 48px;
  // box-shadow: 1em -1px 2em 6px #bdb9b9;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(7px) saturate(88%);
  -webkit-backdrop-filter: blur(7px) saturate(88%);

  ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
  }

  a {
    color: black;
  }

  nav ul.menu-list a span {
    color: #746f6f;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    transition: font-size 0.3s ease;
  }

  .header-title {
    font-size: 60px;
    color: #000000;
    // text-shadow: -5px 2px 0px #859393;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 700;
    font-style: revert;
    // word-break: break-all;
    margin: 0 20px;
    width: 10%;
    transition: font-size 0.3s ease;
  }
}

@media only screen and (max-width: 600px) {
  .nav-header {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    width: auto;
    margin-bottom: 16px;

    nav .menu-hamburguer {
      display: flex;
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;
      position: relative;
      z-index: 10;

      // Linha central
      &::before,
      &::after,
      span {
        content: "";
        display: block;
        height: 3px;
        width: 28px;
        background: #191919; // ou a cor desejada
        border-radius: 2px;
        position: absolute;
        left: 6px;
        transition: 0.3s;
      }

      // Linha superior
      &::before {
        top: 12px;
      }
      // Linha central
      span {
        top: 18px;
        transition: 0.4s;
      }
      // Linha inferior
      &::after {
        top: 24px;
      }
    }

    nav .menu-hamburguer.is-active {
      &::before {
        top: 18px;
        transform: rotate(45deg);
      }
      span {
        opacity: 0;
      }
      &::after {
        top: 18px;
        transform: rotate(-45deg);
      }
    }

    nav ul.menu-list {
      display: none;

      .btn {
        width: 100%;
      }

      &.is-open {
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
        flex-direction: column;
        padding: 20px 20px;
        background: white;
      }
    }
  }
}
